html, body, #root {
    width: 100%;
    height: 100%;
}

.bug-testing-card {
    height:200px;
    background-color:#388229 !important;
    background-image:url('../img/card/bugs.png');
    background-repeat:no-repeat
}